<% provide(:title, 'All users') %>
<h1>All users</h1>

<%== pagy_nav(@pagy) %>
<ul class="users">
    <% for user in @users %>
        <% cache user do %>
            <%= render 'users/user_item', user: user %>
        <% end %>
    <% end %>
</ul>
<%== pagy_nav(@pagy) %>
